[Desktop Entry]
Encoding=UTF-8
Name=ArepaCoin
Comment=ArepaCoin P2P Cryptocurrency
Exec=/usr/bin/arepacoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/arepacoin;
Categories=Office;
Name[es]=arepacoin-qt.desktop
